body {
  background-color: black;
}
.calculadoraContainer {
  border: 1px solid white;
}
.h1 {
  color: white;
}
legend {
  color: white;
}
input {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}